<!DOCTYPE html>
<!-- Project Name: The Lannaman Reclamation Project
Client: Derrick Lannaman
Author: Derrick Lannaman
Created:  12/28/2012 v1.0
Completed: -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">

		<title>The Lannaman Reclamation Project</title>

	</head>
	<body>
		<!-- Navigation is located in shared  -->

			<!-- =============== 		START SECTION 	 =============== -->
	<!-- <div class="container"> -->
			<div class="slide" id="slide1" data-slide="1" data-stella-background-ratio="0.5">

				<div class="main-content">
					<div class="first-slide-content">
						<h1 class="intro">Hello. I am Derrick</h1>
					  <p>
							 &raquo;Full-stack Web Developer<br/>
								<span>Web Development Immersive(General Assembly) Alumni<br /></span>
								&raquo;Two-time Entreprenuer<br />
								<span>Chaser of Dreams</span>
						 </p>

							<p>
								My passion is the result of when web development dreams, entreprenuerial energy, the hunger for learning more, and raw determination collide.
							</p>
					</div><!-- End first-slide-content-->
				</div><!-- End main-content-->
				<div class="clear"></div>
		<div id="question-panel-1">
				<a class="button"  data-slide="2"><img class="down-arrow" id="down-arrow-1"></a>
				<a class="slide-title"><p class="main-question" id="question-1">Who am I?</p></a>


		</div>


			</div><!-- End Slide 1 -->

<!-- =============  -->

			<div class="slide" id="slide2" data-slide="2" data-stella-background-ratio="0.5">


				<div class="main-content">
					<div class="second-slide-content">
					<h1 class="intro">..doing in a place like this?</h1>
						<p>
							It started when my second business, Texas Crazy Wings needed a simple website. I had neither the time, nor most frustratingly, the basic knowledge of how to create it myself.<br />
							<br />
							So, I hired a designer who was able to translate <em>my concepts and ideas</em> into a website and thus, a seed was sown. Fast-forward a few years, and that small seed had grown into a full-fledged bloom of desire to become a full stack developer and turn ideas into living, breathing applications.
						</p>
					</div><!-- End second-slide-content-->
				</div><!-- End main-content -->

			<div id="question-panel-2">
				<a class="button" data-slide="3"><img class="down-arrow" id="down-arrow-2"></a>
				<span class="slide-title"><a class="main-question" id="question-2">What's a nice fella like me...</a></span>
			</div>

			</div><!-- End Slide 2 -->

<!-- =============  -->

			<div class="slide" id="slide3" data-slide="3" data-stella-background-ratio="0.5">


				<div class="main-content">
					<div class="third-slide-content">
					<h1 class="intro">The &#64;full_stack, baby!</h1>

					<div id="do-block">
						<code> <!-- This section creates the "code block" on slide3 -->
							 &lt;&#37; <span class="syntax-highlight1">&#64;full_stack</span>.each <span class="syntax-highlight">do</span> &#124;<span class="syntax-highlight1">skill</span>&#124;&#37;&gt; <br/>
							 	 &nbsp; &nbsp;<span>"#&#123;</span>&nbsp;<button id="result-btn">Get Skills</button>&nbsp;<span>&#125;"</span>
							 	  <br/>
							 &lt;&#37; <span class="syntax-highlight">end</span> &#37;&gt;
						</code>
				 </div>

					<div id="full-stack">
						<span class="quote"><%= @quote %></span>
						<%-	@full_stack.each do |skill| %>
							 	<span id="skill"><%=	skill %></span>
						<% end %>
						<span class="quote"><%= " and I continue to develop these skills, and more, everyday!" %></span><br/>

				 	<p>Plus, a fist full of gems:</p>
				 	<p>
				 		pg, annotate, carrierwave, fog, AWS, pry-rails,<br /> better_errors, binding_of_callers, quiet_assets,<br />rails-footnotes, test-unit, ruby-prof, httparty, nokogiri  <br/>
				 	</p>

						<p id="disclaimer">
							&#42;Solidly versed in these web technologies:
						</p>
				 </div><!-- End full-stack-->

					</div><!-- third-slide-content-->
				</div><!-- End main-content -->

			 <div id="question-panel-3">
				<a class="button" id="btn-3" data-slide="4"><img class="down-arrow" id="down-arrow-3"></a>
				<span class="slide-title"><a class="main-question" id="question-3">What Do Ya Know?</a></span>
			 </div>


			</div><!-- End Slide 3 -->

<!-- ======  PROJECTS =======  -->

			<div class="slide" id="slide4" data-slide="4" data-stella-background-ratio="0.5">
				<div class="main-content">
					<div class="fourth-slide-content">

						<div id="screenshots">
							<div class="light-box" id="beautiflow-light-box">
								<%= link_to(image_tag('beautiflow_image.jpg', :alt => "beautiflow app screenshot",  class: "project"), @beautiflow_url, :target => "_blank")  %>
								<div class="light-box-caption" id="beautiflow-caption">
										<h3>Beautiflow.me</h3>
										<p>Final, individual project @GA, (alpha)</p>
								</div><!-- End light-box-caption -->
							</div><!-- End beautiflow light-box -->


							<div class="light-box" id="susunami-light-box">
								<%= link_to(image_tag('susunami-image.png', :alt => "susunami app screenshot",  class: "project"), @susunami_url, :target => "_blank")  %>
								<div class="light-box-caption" id="susunami-caption">
										<h3>susunami</h3>
										<p>Personal project, (in development)</p>
								</div><!-- End light-box-caption -->
							</div><!-- End susunami light-box -->


							<div class="light-box" id="foodie-light-box">
								<%= link_to(image_tag('foodie_image.png', :alt => "foodie app screenshot",  class: "project"), @foodie_url, :target => "_blank")  %>
								<div class="light-box-caption" id="foodie-caption">
										<h3>Foodie</h3>
										<p>Group project @GA</p>
								</div><!-- End light-box-caption -->
							</div><!-- End foodie light-box -->

							<div class="light-box">
								<%= link_to(image_tag('beautiflow_image.jpg', :alt => "beautiflow app screenshot",  class: "project"), @beautiflow_url, :target => "_blank")  %>
								<div class="light-box-caption" id="4">
										<h3>Beautiflow 4</h3>
										<p>Final, individual project @GA<br />
																				alpha development</p>
								</div><!-- End light-box-caption -->
							</div><!-- End beautiflow light-box -->


					  </div><!-- End screenshots -->
					<div class="clear"></div>

					<!-- <a class="button" id="btn-4" data-slide="4"></a> -->
					</div><!-- End fourth-slide-content -->

				<span class="slide-title">Projects</span>
				<p class="view-project">View Projects</p>
				</div><!-- End main-content -->
			</div><!-- End Slide 4 -->


			<div class="slide" id="slide5" data-slide="5" data-stella-background-ratio="0.5">

<!-- ======  RESUME =======  -->


<div id="resume">
<h2>Derrick Lannaman</h2>
        <h2>derricklannaman@gmail.com | github.com/derricklannaman<br />
        114 East Marshall Street,  Hempstead, NY 11550 |  516-581-5087</h2>

 <h2>Full Stack Web Developer | Entry Level</h2>

<p>
Passionate and highly-motivated to learn,  Jr. developer with solid experience in HTML, CSS, javascript and the Ruby on Rails framework.<br />Strong communication and interpersonal skills with a demonstrated entrepreneurial spirit with the ability to work as a member of a team.
</p>


   <h2>Professional experience</h2>
<p>Web Development Immersive Program @ General Assembly    October 2012 — December 2012</p>
<ul>
<li>	A rigorous 9 week (full-time) training program that provides the technical and practical knowledge of full-stack web development.</li>
<li>Core technologies include: HTML5, CSS3, Javascript & jquery, AJAX, Git, Postgresql, and Ruby and Ruby on Rails.</li>
</ul>
<h2>Entrepreneurial experience</h2>

<p>Texas Crazy Wings Inc.    Owner/Operator      July 2007 — November 2009
</p>
<p>BreedLove Salon.   Co-Owner        May 2000 — July 2007</p>
<ul>

<li>Created and developed two businesses from concept to store opening.</li>
<li>Oversaw the design, development and construction of Breedlove Salon LLC and Texas Crazy Wings, Inc.</li>
<li>Possess effective management and leadership skills in managing a team of up to 12 staff members.</li>
<li>Successfully operated Breedlove Salon for over 10 years.</li>
<li>Created and established policy, procedures and operational standards for small business startup</li>
<li>Responsible for personnel decisions relating to hiring, job training, payroll, and terminations</li>
<li>In charge of product inventory, vendor management and daily operation of unit</li>

</ul>

                  <h2> Work experience</h2>
<p>Procare LTC, Inc.</p>
Pharmacy Billing Technician      September 2011 — October 2012
<ul>
<li>Resolved billing issues and rejections according to operating procedures.</li>
<li>Enter and set up new patient admissions profiles and corresponding payment plans.</li>
<li>Settled monthly cycle medication billing claims and processed reorders.</li>
</ul>

               <h2>Education</h2>

Adelphi University & Morehouse College
Approximately 80 credit hours completed in pursuit of a B.S. in Business Administration
</div><!-- End Resume -->

</div>


			<!-- =============== 		START FOOTER 		 =============== -->


 			<footer>
				<p>Some Footer Text</p>
				<p class="disclaimer">&#42;to varying degrees(truth in advertising)</p>
			</footer>
   </div>
	</div><!-- End bootstrap container -->
	</body>
</html>